
@font-face {
    font-family: Lexend;
    src: url(fonts/Lexend[wght].ttf);
}

@font-face {
    font-family: CookieRun;
    src: url(fonts/CookieRun_Regular.ttf);
}

body{
    margin: 0;
    font-family: Lexend, Geneva, Tahoma, sans-serif;
}

p{
    font-family: Lexend, Geneva, Tahoma, sans-serif;
}

main{
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    
    display: block;
    color:aliceblue;
    background-color: #78a3a3;
}

main a{
    text-decoration: none;
    color:aliceblue;
}

h1{
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    background-color: rgb(90, 155, 155);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
color: white;
text-decoration: none;
padding: 15px;
display: block;
text-align: center;
}

.navbar a:hover{
     background-color: #5f8f8f;
}
.navbar li{
    float: left;
}

.logo{
    alt:"logo of IAPETUS";
    height: 250px;
    padding-bottom: 110px;
    position: relative;
    top: 15px;
    left: 30;
}

.gallery{
    display: inline-block;
    border: 5px solid black;
    margin: 20px;
}

.gallery .description{
    padding: 10px;
    text-align: center;
}

.slider{
    position: relative;
    display: grid;
    height: 100%;
    margin: auto;
    overflow: hidden;
}
.slider img{
    max-width: 100%;
    max-height: 100vh;
    display: none;
}
img.displaySlide{
    max-width: 100%;
    max-height: 100vh;
    animation-name: fade;
    animation-duration: 1.5s;
}
.slider button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    padding: 10px 15px;
    background-color: hsla(0, 0%, 0%, 0.5);
    color: white;
    border: none;
    cursor: pointer;
}
.prev{
    left: 0;
}
.next{
    right: 0;
}
@keyframes fade {
    from {opacity: .5}
    to {opacity: 1}
}
