body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main{
    margin-left: 10%;
    margin-right: 10%;
    
    display: block;
    color:aliceblue;
    background-color: #78a3a3;
}

main a{
    text-decoration: none;
    color:aliceblue;
}

h1{
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    background-color: rgb(90, 155, 155);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
color: white;
text-decoration: none;
padding: 15px;
display: block;
text-align: center;
}

.navbar a:hover{
     background-color: #5f8f8f;
}
.navbar li{
    float: left;
}

.logo{
    alt:"logo of IAPETUS";
    height: 250px;
    padding-bottom: 110px;
    position: relative;
    top: 15px;
    left: 30;
}

.gallery{
    display: inline-block;
    border: 5px solid black;
    margin: 20px;
}

.gallery .description{
    padding: 10px;
    text-align: center;
}

.slider{
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.slider img{
    width: 100%;
    display: none;
}

img.displaySlide{
    display: block;
}